body{
    background-color:rgb(129, 157, 184);
}
h1{
    padding-top: 150px;
    font-size: 100px;
    background-color: maroon;
    color: whitesmoke;
    box-shadow: #010d2e 2px 4px 9px 0px;
    

    
}
 button{
    font-size: 80px;
    border: 4px solid white;
    border-radius: 50px;
    box-shadow: #010d2e 2px 4px 9px 0px;
    color: white;
    background-color: maroon;
} 

button:hover
{
    color: white;
    background-color: #020b24;
}
#MyClockDisplay{
    padding-top: 10px;
    font-size: 100px;
    color:white;
   

}